.a {
  color: #ff9100;
}
.c {
  color: #6e604f;
}
.d {
  color: #7b4a0b;
}
.e {
  color: #29dd26;
}
.f {
  color: #7a23cb;
}

.a1 {
  background-image: url("https://wow.olympus.eu/webfile/img/1632/oly_testwow_stage.jpg?x=1024");
}
.a2 {
  background-image: url("trade-jo_ukama-ell_taifa.png");
}
